{% extends 'publisher/base2.html' %}
{% block content %}


<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="row">
        <div class="col-sm-7">
            <div class="text-center" style="width: 28rem;">
                <p class="mb-0" style="color:white">Send Us Your Feedback About Our Service</p>

                <div class="card-body">
                    <form action="{% url 'send_feedback' %}" method="POST">
    {% csrf_token %}
  <label for="comment" style="color:white">Type Below Your Feedback</label>
  <textarea class="form-control" rows="5" id="comment" name="feedback"></textarea>
  <br>
             <a href=""><button type="submit" class="btn btn-outline-light"> Send</button></a>
                        <button type="button" class="btn btn-outline-light" onclick="goBacktohome()">Back2Home</button>
</form>
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-3" style="color: red">
</div>
<svg
        style="position: fixed; bottom: 0; left: 0; right: 0; z-index: -1;"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
    >
        <path
            fill="white"
            fill-opacity="2"
            d="M0, 288L48, 272C96, 256, 192, 224, 288, 197.3C384,171, 480, 149, 576, 165.3C672, 181, 768, 235, 864, 250.7C960, 267, 1056, 245, 1152, 250.7C1248, 256, 1344, 288, 1392, 304L1440, 320L1440, 320L1392, 320C1344, 320, 1248, 320, 1152, 320C1056, 320, 960, 320, 864, 320C768, 320, 672, 320, 576, 320C488, 320, 384, 320, 288, 320C192, 320, 96, 320, 48, 320L0, 320Z  "
        ></path>
</svg>

{% endblock %}