{% extends 'dashboard/base.html' %}


{% block content %}

<div class="container" style="width:40%;">
    <a href="/alchat">
        <button class="btn btn-outline-light">
            <i class="fa fa-refresh" aria-hidden="true"></i>Refresh
        </button>
    </a>
    <br><br>
    {% for chat in object_list %}
   <i class="fas fa-user-circle fa-fw text-light" style="color: #ffffff; font-size:20px;"></i>
    <div class="chat" style="box-shadow: 2px 5px 5px 5px #111; border-radius: 0px 50px 50px 50px; background-color:white; padding-left:45px;">
                                    {% if chat.user.is_superuser or chat.user.is_admin %}
                                        <small class="chat-user-special text-success"> {{ chat.user }}- Admin </small>
                                    {% elif chat.user.is_librarian %}
                                        <small class="chat-user-special text-danger"> {{ chat.user }}- Librarian </small>
                                    {% else %}
                                        <small class="chat-user text-primary"> {{ chat.user }} - Publisher </small>
                                    {% endif %}
                                    <p><b class="chat-content">{{ chat|linebreaks }}</b></p>
                                    <small class="chat-date">{{ chat.posted_at }}</small>
                                </div><br><br><br>
                            {% empty %}
                                <h1 class="heading">No Chats Yet Be The First To Message!</h1><br>
                            {% endfor %}
                            <br><a href="{% url 'achat' %}"><button class="btn btn-outline-dark">New Message</button></a>
                            <div class="col-sm-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3" style="color: red"></div>
    </div>
</div>
</div>



{% endblock %}
