{% extends 'dashboard/base.html' %}

{% block content %}





        <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-5 col-xs-5 text-center">
            <div id="content-wrapper">
                <div class="container-fluid" >
                    <div class="row" >
                        <div class="col-sm-3" style="color: red"></div>
                        <div class="col-sm-12">
                            <div class="card " style="width: 800px;">
                                <div class="card-header" style="padding:-25px;">
                                    <i class="fas fa-table text-dark"></i>
                                     List Of Users
                                     <a href="{% url 'create_user_form' %}" style="padding: 8px; float: right; background-color: black; color: white; text-decoration:None;">Add User</a>
                                </div>
                                <div class="card-body">
                                    {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                                        {{ message }}
                                    </div>
                                    {% endfor %}

                                            <table class="table table-primary">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">No</th>
                                                        <th scope="col">Username</th>
<!--                                                        <th scope="col">User Role</th>-->
                                                        <th scope="col">Email</th>
                                                        <th scope="col">View</th>
                                                        <th scope="col">Edit</th>
                                                        <th scope="col">Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if users %}
                                                         {% for user in users %}
                                                    <tr>
                                                        <th scope="row">{{ forloop.counter }}</th>
                                                        <td>{{ user.username }}</td>
<!--<td>{% if user.is_publisher == True %}-->
<!--                                      <p>Publisher</p>-->
<!--                                    {% elif user.is_admin == True %}-->
<!--                                      <p>Admin</p>-->
<!--                                    {% else %}-->
<!--                                    <p>Librarian</p>-->
<!--                                      {% endif %}-->
<!--                                    </td>-->
                                                        <td>{{ user.email }}</td>
                                                        <td>
                                                            <a href="{% url 'aviewuser' user.pk %}"><button type="button" class="btn btn-outline-primary"> View</button></a>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'aedituser' user.pk %}"><button type="button" class="btn btn-outline-warning"> Edit</button></a>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'adeleteuser' user.pk %}"><button type="button" class="btn btn-outline-danger"> Delete</button></a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                         {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}

{% block extrascripts %}
  <script type="text/javascript">
      $(function () {
          // Hide message
          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
  </script>
{% endblock extrascripts %}